.cc-main-header a{
    color: var(--text-color);
}



.cc-autocomplete {
    position: relative;
    width: 100%;
    }

    #search-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    }

    .cc-autocomplete-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    display: none;
    }

    .cc-autocomplete-list li {
    padding: 10px;
    cursor: pointer;
    }

    .cc-autocomplete-list li:hover {
    background-color: #f0f0f0;
    }

    .cc-autocomplete-list .add-new {
    color: #007bff;
    font-weight: bold;
    border-top: 1px solid #ccc;
    }

    .cc-autocomplete-list .add-new:hover {
    background-color: #e6f2ff;
    }
    
    .cc-list-btn{
        width: 100%;
        border-radius: 4px;
        background-color: #f1f9ff;
    }




    .cc-nav .cc-nav-menu .cc-item.cc-active a, .cc-nav .cc-nav-menu .cc-item.cc-active:hover a{
        background-color: #f4f9ff;
        color: var(--primary-color);
        font-weight: 500;
        box-shadow: inset 4px 4px 6px #cad7e6b5, inset -2px -2px 6px #ffffffad;
      }
      .cc-nav .cc-nav-menu .cc-item:hover a{
        cursor: pointer;
        background-color: #e4effc;
        color: var(--primary-color);
        font-weight: 500;
      }